{% extends "website/layout/internal.html" %}{% load staticfiles %}
{% block title %}Садоводство "Восход" Фрунзенского района {% endblock %}
{% block description %}{% endblock %}
{% block content %}
    <!-- Contacts -->
    <section class="well-sm-2">
        <div class="container" data-lightbox="gallery">
            <h2 class="line-3">СНТ Восход</h2>
            <p class="text-default-2 inset-1 letter-spacing-1">Фрунзенского района</p>
            <div class="row justify-content-lg-between">
                <div class="col-12 address text-center text-md-left">
                    <h2 class="text-primary">Письмо отправлено</h2>
                </div>
            </div>

        </div>
    </section>
    <!-- END Contact us -->
{% endblock %}