{% extends "website/layout/internal.html" %}{% load staticfiles %}

{% block content %}
    <section class="well-sm-2">
        <div class="container">
            <h2 class="line-3">Rental Services</h2>
            <p class="text-default-2 inset-1 letter-spacing-1">View what we have to offer you</p>
            <div class="row row-60">
                <div class="col-md-6 col-lg-6">
                    <img width="570" height="488" alt="" src="{% static 'website/images/page-3_img01.jpg' %}">
                    <h3 class="offset-17"><a href="#">Vacation Rentals</a></h3>
                    <p class="offset-14">
                        Furnished rentals, located in every area of the city, are a comfortable alternative to staying a hotel. Sublets / Furnished Long and short term sublets throughout the city, alone or with a roommate, fully furnished, for every price range.
                    </p>
                </div>
                <div class="col-md-6 col-lg-6">
                    <img width="570" height="488" alt="" src="{% static 'website/images/page-3_img02.jpg' %}">
                    <h3 class="offset-17"><a href="#">Roommate Share</a></h3>
                    <p class="offset-14">
                        Furnished apartments throughout the city, equipped with various amenities, such as internet and a full kitchen.
                    </p>
                </div>
                <div class="col-md-6 col-lg-6">
                    <img width="570" height="488" alt="" src="{% static 'website/images/page-3_img03.jpg' %}">
                    <h3 class="offset-17"><a href="#">Corporate Apartments</a></h3>
                    <p class="offset-14">
                        Long and short term furnished and unfurnished properties, equipped to provide your client with privacy and comfort.
                    </p>
                </div>
                <div class="col-md-6 col-lg-6">
                    <img width="570" height="488" alt="" src="{% static 'website/images/page-3_img04.jpg' %}">
                    <h3 class="offset-17"><a href="#">Unfurnished</a></h3>
                    <p class="offset-14">
                        Our variety of unfurnished apartments will provide you with a place to create the perfect personalized home.
                    </p>
                </div>
                <div class="col-md-6 col-lg-6">
                    <img width="570" height="488" alt="" src="{% static 'website/images/page-3_img05.jpg' %}">
                    <h3 class="offset-17"><a href="#">Apartmets for Sale</a></h3>
                    <p class="offset-14">
                        If you are looking to buy a place in your area we can help find you a new home within your price range.
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}