{% extends "website/layout/internal.html" %}{% load staticfiles %}

{% block content %}
    <!-- Gallery -->
    <section class="well-sm-2">
        <div class="container" data-lightgalley="group">
            <h2 class="line-3">Gallery</h2>
            <p class="text-default-2 inset-1 letter-spacing-1">Best apartments for you</p>
            <div class="row row-30">
                <div class="col-md-4 col-lg-4 ">
                    <div class="thumb thumb1">
                        <a href="{% static 'website/images/gallery3/page-4_img01_original.jpg' %}" data-lightgallery='item'>
                            <img src="{% static 'website/images/gallery3/page-4_img01.jpg' %}" width="370" height="447"
                                 alt="Image 1"/>
                            <div class="thumb__overlay"></div>
                        </a>
                    </div>
                    <div class="thumb thumb1">
                        <a href="{% static 'website/images/gallery3/page-4_img02_original.jpg' %}" data-lightgallery='item'>
                            <img src="{% static 'website/images/gallery3/page-4_img02.jpg' %}" width="370" height="455"
                                 alt="Image 1"/>
                            <div class="thumb__overlay"></div>
                        </a>
                    </div>
                    <div class="thumb thumb1">
                        <a href="{% static 'website/images/gallery3/page-4_img03_original.jpg' %}" data-lightgallery='item'>
                            <img src="{% static 'website/images/gallery3/page-4_img03.jpg' %}" width="370" height="471"
                                 alt="Image 1"/>
                            <div class="thumb__overlay"></div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="thumb thumb1">
                        <a href="{% static 'website/images/gallery3/page-4_img04_original.jpg' %}" data-lightgallery='item'>
                            <img src="{% static 'website/images/gallery3/page-4_img04.jpg' %}" width="370" height="604"
                                 alt="Image 1"/>
                            <div class="thumb__overlay"></div>
                        </a>
                    </div>
                    <div class="thumb thumb1">
                        <a href="{% static 'website/images/gallery3/page-4_img05_original.jpg' %}" data-lightgallery='item'>
                            <img src="{% static 'website/images/gallery3/page-4_img05.jpg' %}" width="370" height="435"
                                 alt="Image 1"/>
                            <div class="thumb__overlay"></div>
                        </a>
                    </div>
                    <div class="thumb thumb1">
                        <a href="{% static 'website/images/gallery3/page-4_img06_original.jpg' %}" data-lightgallery='item'>
                            <img src="{% static 'website/images/gallery3/page-4_img06.jpg' %}" width="370" height="335"
                                 alt="Image 1"/>
                            <div class="thumb__overlay"></div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="thumb thumb1">
                        <a href="{% static 'website/images/gallery3/page-4_img07_original.jpg' %}" data-lightgallery='item'>
                            <img src="{% static 'website/images/gallery3/page-4_img07.jpg' %}" width="370" height="499"
                                 alt="Image 1"/>
                            <div class="thumb__overlay"></div>
                        </a>
                    </div>
                    <div class="thumb thumb1">
                        <a href="{% static 'website/images/gallery3/page-4_img08_original.jpg' %}" data-lightgallery='item'>
                            <img src="{% static 'website/images/gallery3/page-4_img08.jpg' %}" width="370" height="361"
                                 alt="Image 1"/>
                            <div class="thumb__overlay"></div>
                        </a>
                    </div>
                    <div class="thumb thumb1">
                        <a href="{% static 'website/images/gallery3/page-4_img09_original.jpg' %}" data-lightgallery='item'>
                            <img src="{% static 'website/images/gallery3/page-4_img09.jpg' %}" width="370" height="513"
                                 alt="Image 1"/>
                            <div class="thumb__overlay"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END Gallery -->
{% endblock %}