{% extends "website/layout/internal.html" %}{% load staticfiles %}
{% block title %} Информация о платежах {% endblock %}
{% block description %}{% endblock %}
{% block content %}
    <!-- Contacts -->
    <section class="well-sm-2">
        <div class="container" data-lightbox="gallery">
            <h2 class="line-3">Профайл</h2>
            <p class="text-default-2 inset-1 letter-spacing-1">пользователя</p>
            <div class="row justify-content-lg-between">
                <div class="col-12 address text-center text-md-left">


                </div>
            </div>
        </div>
    </section>
    <!-- END Contact us -->
{% endblock %}

