PassengerEnabled On
PassengerPython /home/a/avia78/.local/bin/python3

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.avia78.ru$ [NC]
RewriteRule ^(.*)$ https://avia78.ru/$1 [R=301,L]

RedirectPermanent /fb/stati/u-kogo-zakazat-dostavku-iz-kitaya/ https://avia78.ru/stati/u-kogo-zakazat-dostavku-iz-kitaya/
RedirectPermanent /fb/uslugi/uslugi-sklada/ https://avia78.ru/uslugi/uslugi-sklada
RedirectPermanent /fb/stati/transportnaya-dostavka-gruzov/ https://avia78.ru/stati/transportnaya-dostavka-gruzov/
RedirectPermanent /fb/stati/zhidkosti-dlya-elektronnyh-sigaret-dostavka-v-rossiyu/ https://avia78.ru/stati/zhidkosti-dlya-elektronnyh-sigaret-dostavka-v-rossiyu/
RedirectPermanent /fb/stati/zhidkost-dlya-elektronnyh-sigaret-optom/ https://avia78.ru/stati/zhidkost-dlya-elektronnyh-sigaret-optom/
RedirectPermanent /fb/strany/yaponiya/ https://avia78.ru/strany/yaponiya/
RedirectPermanent /fb/strany/turciya/ https://avia78.ru/strany/turciya/
RedirectPermanent /fb/stati/stoimost-dostavki-gruza/ https://avia78.ru/stati/stoimost-dostavki-gruza/
RedirectPermanent /fb/stati/ https://avia78.ru/stati/
RedirectPermanent /fb/stati/srochnye-gruzoperevozki-iz-kitaya/ https://avia78.ru/stati/srochnye-gruzoperevozki-iz-kitaya/
RedirectPermanent /fb/strany/singapur/ https://avia78.ru/strany/singapur/
RedirectPermanent /fb/stati/posrednik-v-kitae/ https://avia78.ru/stati/posrednik-v-kitae/
RedirectPermanent /fb/stati/operativnaya-dostavka-sbornyh-gruzov-iz-ssha/ https://avia78.ru/stati/operativnaya-dostavka-sbornyh-gruzov-iz-ssha/
RedirectPermanent /fb/stati/operativnaya-dostavka-gruza-iz-kitaya/ https://avia78.ru/stati/operativnaya-dostavka-gruza-iz-kitaya/
RedirectPermanent /fb/stati/perevozka-sbornyh-gruzov/ https://avia78.ru/stati/perevozka-sbornyh-gruzov/
RedirectPermanent /fb/uslugi/oformlenie-dokumentov/ https://avia78.ru/uslugi/oformlenie-dokumentov/
RedirectPermanent /fb/stati/nodorogaya-dostavka-zapchastey-iz-ameriki/ https://avia78.ru/stati/nodorogaya-dostavka-zapchastey-iz-ameriki/
RedirectPermanent /fb/stati/nedorogaya-dostavka-sbornyh-gruzov-iz-kitaya-i-gonkonga/ https://avia78.ru/stati/nedorogaya-dostavka-sbornyh-gruzov-iz-kitaya-i-gonkonga/
RedirectPermanent /fb/stati/nedorogaya-dostavka-iz-kitaya-v-rossiyu-1/ https://avia78.ru/stati/nedorogaya-dostavka-iz-kitaya-v-rossiyu-1/
RedirectPermanent /fb/stati/nedorogaya-dostavka-iz-kitaya-v-rossiyu/ https://avia78.ru/stati/nedorogaya-dostavka-iz-kitaya-v-rossiyu/
RedirectPermanent /fb/uslugi/morskie-perevozki/ https://avia78.ru/uslugi/morskie-perevozki/
RedirectPermanent /fb/stati/mezhdunarodnye-gruzovye-perevozki-udobnyy-servis-dlya-predprinimateley/ https://avia78.ru/stati/mezhdunarodnye-gruzovye-perevozki-udobnyy-servis-dlya-predprinimateley/
RedirectPermanent /fb/strany/koreya/ https://avia78.ru/strany/koreya/
RedirectPermanent /fb/strany/kitay/ https://avia78.ru/strany/kitay/
RedirectPermanent /fb/strany/avstraliya/ https://avia78.ru/strany/avstraliya/
RedirectPermanent /fb/stati/aviaperevozka-iz-kitaya-ssha-evropy/ https://avia78.ru/stati/aviaperevozka-iz-kitaya-ssha-evropy/
RedirectPermanent /fb/uslugi/aviaperevozka-gruzov/ https://avia78.ru/uslugi/aviaperevozka-gruzov/
RedirectPermanent /fb/stati/avia-dostavka-tovarov-iz-gonkonga/ https://avia78.ru/stati/avia-dostavka-tovarov-iz-gonkonga/
RedirectPermanent /fb/stati/avia-dostavka-iz-gonkonga-v-moskvu-elektroniki/ https://avia78.ru/stati/avia-dostavka-iz-gonkonga-v-moskvu-elektroniki/
RedirectPermanent /fb/stati/avia-dostavka-gruzov-iz-kitaya/ https://avia78.ru/stati/avia-dostavka-gruzov-iz-kitaya/
RedirectPermanent /fb/strany/evropa/angliya/ https://avia78.ru/strany/evropa/angliya/
RedirectPermanent /fb/stati/bystraya-dostavka-iz-gonkonga-v-moskvu/ https://avia78.ru/stati/bystraya-dostavka-iz-gonkonga-v-moskvu/
RedirectPermanent /fb/stati/dostavka-posylok-iz-kitaya/ https://avia78.ru/stati/dostavka-posylok-iz-kitaya/
RedirectPermanent /fb/stati/dostavka-odezhdy-iz-kitaya-v-rossiyu/ https://avia78.ru/stati/dostavka-odezhdy-iz-kitaya-v-rossiyu/
RedirectPermanent /fb/stati/dostavka-odezhdy-iz-kitaya/ https://avia78.ru/stati/dostavka-odezhdy-iz-kitaya/
RedirectPermanent /fb/stati/dostavka-obuvi-iz-kitaya-v-moskvu/ https://avia78.ru/stati/dostavka-obuvi-iz-kitaya-v-moskvu/
RedirectPermanent /fb/stati/dostavka-maynerov-iz-gonkonga/ https://avia78.ru/stati/dostavka-maynerov-iz-gonkonga/
RedirectPermanent /fb/stati/dostavka-iz-kitaya-velo-i-motozapchasti/ https://avia78.ru/stati/dostavka-iz-kitaya-velo-i-motozapchasti/
RedirectPermanent /fb/stati/dostavka-iz-kitaya-v-moskvu-veshchey-i-obuvi/ https://avia78.ru/stati/dostavka-iz-kitaya-v-moskvu-veshchey-i-obuv/
RedirectPermanent /fb/stati/dostavka-iz-kitaya-v-moskvu-lyubyh-gruzov/ https://avia78.ru/stati/dostavka-iz-kitaya-v-moskvu-lyubyh-gruzov/
RedirectPermanent /fb/stati/dostavka-iz-kitaya-v-moskvu-bystro-nedorogo-udobno/ https://avia78.ru/stati/dostavka-iz-kitaya-v-moskvu-bystro-nedorogo-udobno/
RedirectPermanent /fb/stati/dostavka-iz-kitaya-tovarov-dlya-detey/ https://avia78.ru/stati/dostavka-iz-kitaya-tovarov-dlya-detey/
RedirectPermanent /fb/stati/dostavka-iz-kitaya-obrazcov-produ/ https://avia78.ru/stati/dostavka-iz-kitaya-obrazcov-produ/
RedirectPermanent /fb/stati/dostavka-iz-kitaya-nastolnyh-igr/ https://avia78.ru/stati/dostavka-iz-kitaya-nastolnyh-igr/
RedirectPermanent /fb/stati/dostavka-iz-kitaya-modnyh-veshchey-za-5-dney/ https://avia78.ru/stati/dostavka-iz-kitaya-modnyh-veshchey-za-5-dney/
RedirectPermanent /fb/stati/dostavka-iz-kitaya-bez-predoplaty/ https://avia78.ru/stati/dostavka-iz-kitaya-bez-predoplaty/
RedirectPermanent /fb/stati/dostavka-iz-indii/ https://avia78.ru/stati/dostavka-iz-indii/
RedirectPermanent /fb/stati/dostavka-iz-gonkonga-samoletom-za-5-dney/ https://avia78.ru/stati/dostavka-iz-gonkonga-samoletom-za-5-dney/
RedirectPermanent /fb/stati/dostavka-gruzov-iz-kitaya-zimnie-puhoviki-i-shapki/ https://avia78.ru/stati/dostavka-gruzov-iz-kitaya-zimnie-puhoviki-i-shapki/
RedirectPermanent /fb/stati/dostavka-gruzov-iz-kitaya-v-moskvu/ https://avia78.ru/stati/dostavka-gruzov-iz-kitaya-v-moskvu/
RedirectPermanent /fb/stati/dostavka-gruzov-iz-kitaya-operativno-udobno-nedorogo/ https://avia78.ru/stati/dostavka-gruzov-iz-kitaya-operativno-udobno-nedorogo/
RedirectPermanent /fb/stati/dostavka-gruzov-iz-kitaya-elektronnye-sigarety-i-zhidkosti/ https://avia78.ru/stati/dostavka-gruzov-iz-kitaya-elektronnye-sigarety-i-zhidkosti/
RedirectPermanent /fb/stati/dostavka-gruzov-iz-gonkonga-za-3-5-dney/ https://avia78.ru/stati/dostavka-gruzov-iz-gonkonga-za-3-5-dney/
RedirectPermanent /fb/stati/dostavka-gruza-iz-pekina-v-moskvu/ https://avia78.ru/stati/dostavka-gruza-iz-pekina-v-moskvu/
RedirectPermanent /fb/stati/dostavka-gruza-iz-kitaya-za-5-dney/ https://avia78.ru/stati/dostavka-gruza-iz-kitaya-za-5-dney/
RedirectPermanent /fb/stati/dostavka-gruza-iz-kitaya-za-3-5-dney/ https://avia78.ru/stati/dostavka-gruza-iz-kitaya-za-3-5-dney/
RedirectPermanent /fb/stati/dostavka-gruza-iz-kitaya-v-finlyandiyu/ https://avia78.ru/stati/dostavka-gruza-iz-kitaya-v-finlyandiyu/
RedirectPermanent /fb/stati/dostavka-gruza-iz-kitaya-uslugi-sklada/ https://avia78.ru/stati/dostavka-gruza-iz-kitaya-uslugi-sklada/
RedirectPermanent /fb/stati/dostavka-gruza-iz-kitaya-principy-formirovaniya-sbornikov/ https://avia78.ru/stati/dostavka-gruza-iz-kitaya-principy-formirovaniya-sbornikov/
RedirectPermanent /fb/stati/dostavka-gruza-iz-kitaya-poryadok-vypolneniya-zayavki-na-mezhdunarodnuyu-perevozku/ https://avia78.ru/stati/dostavka-gruza-iz-kitaya-poryadok-vypolneniya-zayavki-na-mezhdunarodnuyu-perevozku/
RedirectPermanent /fb/stati/dostavka-gruza-iz-kitaya/ https://avia78.ru/stati/dostavka-gruza-iz-kitaya/
RedirectPermanent /fb/stati/dostavka-gruza-iz-gonkonga/ https://avia78.ru/stati/dostavka-gruza-iz-gonkonga/
RedirectPermanent /fb/stati/dostavka-elektroniki-iz-kitaya/ https://avia78.ru/stati/dostavka-elektroniki-iz-kitaya/
RedirectPermanent /fb/stati/dostavka-elektroniki-iz-gonkonga-v-rossiyu/ https://avia78.ru/stati/dostavka-elektroniki-iz-gonkonga-v-rossiyu/
RedirectPermanent /fb/stati/dostavit-tovar-iz-ameriki-v-moskvu/ https://avia78.ru/stati/dostavit-tovar-iz-ameriki-v-moskvu/
RedirectPermanent /fb/stati/dostavit-gruz-iz-ssha-bystro-i-nedorogo/ https://avia78.ru/stati/dostavit-gruz-iz-ssha-bystro-i-nedorogo/
RedirectPermanent /fb/stati/deshyovaya-dostavka-tovarov-iz-kitaya/ https://avia78.ru/stati/deshyovaya-dostavka-tovarov-iz-kitaya/
RedirectPermanent /fb/stati/deshevaya-dostavka-iz-kitaya-za-5-dney/ https://avia78.ru/stati/deshevaya-dostavka-iz-kitaya-za-5-dney/
RedirectPermanent /fb/stati/bystro-dostavit-gruz-iz-kitaya-s-nami-eto-prosto/ https://avia78.ru/stati/bystro-dostavit-gruz-iz-kitaya-s-nami-eto-prosto/
RedirectPermanent /fb/stati/bystraya-i-nedorogaya-dostavka-gruza-iz-germanii/ https://avia78.ru/stati/bystraya-i-nedorogaya-dostavka-gruza-iz-germanii/
RedirectPermanent /fb/stati/bystraya-dostavka-iz-kitaya-v-rossiyu/ https://avia78.ru/stati/bystraya-dostavka-iz-kitaya-v-rossiyu/
RedirectPermanent /fb/stati/bystraya-dostavka-iz-kitaya-1/ https://avia78.ru/stati/bystraya-dostavka-iz-kitaya-1/
RedirectPermanent /fb/stati/bystraya-dostavka-iz-kitaya/ https://avia78.ru/stati/bystraya-dostavka-iz-kitaya/
RedirectPermanent /fb/stati/bystraya-dostavka-iz-gonkonga-v-moskvu/ https://avia78.ru/stati/bystraya-dostavka-iz-gonkonga-v-moskvu/
RedirectPermanent /fb/uslugi/dostavka-sbornyh-gruzov/dostavka-tovara-iz-kitaya-v-rosssiyu/ https://avia78.ru/uslugi/dostavka-sbornyh-gruzov/dostavka-tovara-iz-kitaya-v-rosssiyu/
RedirectPermanent /fb/uslugi/dostavka-sbornyh-gruzov/dostavka-tovara-iz-ssha-v-rossiyu/ https://avia78.ru/uslugi/dostavka-sbornyh-gruzov/dostavka-tovara-iz-ssha-v-rossiyu/
RedirectPermanent /fb/strany/dostavka-tovara-iz-tayvanya-v-rossiyu/ https://avia78.ru/strany/dostavka-tovara-iz-tayvanya-v-rossiyu/
RedirectPermanent /fb/stati/dostavka-tovarov-iz-kitaya-v-rossiyu/ https://avia78.ru/stati/dostavka-tovarov-iz-kitaya-v-rossiyu/
RedirectPermanent /fb/stati/dostavka-veshchey-iz-kitaya/ https://avia78.ru/stati/dostavka-veshchey-iz-kitaya/
RedirectPermanent /fb/stati/dostavka-videokart-iz-gonkonga/ https://avia78.ru/stati/dostavka-videokart-iz-gonkonga/
RedirectPermanent /fb/stati/dostavka-zapchastey-iz-ssha/ https://avia78.ru/stati/dostavka-zapchastey-iz-ssha/
RedirectPermanent /fb/strany/evropa/germaniya/ https://avia78.ru/strany/evropa/germaniya/
RedirectPermanent /fb/strany/evropa/gollandiya/ https://avia78.ru/strany/evropa/gollandiya/
RedirectPermanent /fb/stati/gruzovye-aviaperevozki-luchshiy-sposob-dostavki-gruza/ https://avia78.ru/stati/gruzovye-aviaperevozki-luchshiy-sposob-dostavki-gruza/
RedirectPermanent /fb/stati/gruzy-iz-kitaya-v-moskvu/ https://avia78.ru/stati/gruzy-iz-kitaya-v-moskvu/
RedirectPermanent /fb/strany/evropa/ispaniya/ https://avia78.ru/strany/evropa/ispaniya/
RedirectPermanent /fb/strany/evropa/italiya/ https://avia78.ru/strany/evropa/italiya/
RedirectPermanent /fb/stati/kak-bystro-dostavit-tovar-iz-kitaya/ https://avia78.ru/stati/kak-bystro-dostavit-tovar-iz-kitaya/
RedirectPermanent /fb/stati/kak-dostavit-gruz-iz-korei-v-rossiyu/ https://avia78.ru/stati/kak-dostavit-gruz-iz-korei-v-rossiyu/
RedirectPermanent /fb/stati/kak-dostavit-iz-kitaya-v-moskvu-elektroniku/ https://avia78.ru/stati/kak-dostavit-iz-kitaya-v-moskvu-elektroniku/
RedirectPermanent /fb/stati/kak-privezti-gruz-iz-kitaya-bystro-i-nedorogo/ https://avia78.ru/stati/kak-privezti-gruz-iz-kitaya-bystro-i-nedorogo/
RedirectPermanent /fb/strany/evropa/finlyandiya/ https://avia78.ru/strany/evropa/finlyandiya/
RedirectPermanent /fb/strany/evropa/ https://avia78.ru/strany/evropa/
RedirectPermanent /fb/strany/dostavka_gruzov_iz_USA/ https://avia78.ru/strany/dostavka_gruzov_iz_USA/
